$textcolor: color white;
$letra: 11.2px;
$espaciado: 10px;

body {
	font-family: 'Roboto', sans-serif;
	color: $textcolor;
	height: 100%;
	width: 100%;
	margin: 0;
	background-attachment: fixed;
}





/*navbar*/

.itemmenu {
	border-style: none;
}
.logo {
	font-weight: 900;
}

.topicons {
	margin-right: 10px;
}





/*Inicio*/


.fondo {
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(17, 43, 48, 0.658) 100%), url('https://cdn.pixabay.com/photo/2015/01/20/13/13/samsung-605439_960_720.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding-top: 80px;
}
.ttl {
	font-family: 'Roboto Slab', serif;
}

.text1 {
	backdrop-filter: blur(10px) saturate(0%);
	-webkit-backdrop-filter: blur(16px) saturate(200%);
	background-color: rgba(163, 36, 36, 0.05);
	border-radius: 12px;
	border: none;
	color: white;
	font-size: larger;
	font-weight: 400;
	line-height: $espaciado*4;
	width: 60%;
	padding: 30px 20px 20px 20px;
	margin: 20px auto 70px auto;
}
.welcome {
	backdrop-filter: blur(10px) saturate(0%);
	-webkit-backdrop-filter: blur(16px) saturate(200%);
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 12px;
	color: white;
	border: none;
	font-size: larger;
	line-height: $espaciado*4;
	font-weight: 400;
	width: 60%;
	padding: 30px 20px 20px 20px;
	margin-bottom: 30px;
}

#press {
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(17, 43, 48, 0.658) 100%);
    text-align: center;
		
}
.presslogo {
	padding: 20px 20px 20px 20px;
}





/*reviews*/
.topcont {
	color: #ffffff;
	margin: 80px auto 80px auto;
	padding: 100px 40px 100px 40px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}



#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }


.rvs{
	color:#000000;
	background-color: #ffffff;
}
.rvw {
	border-radius: 12px;
	border: none;
	background-color: #ffffff;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	margin-bottom: 20px;
}





/*informacion*/
.upper {
	background-color: #EEEEEE;
	border-radius: 0px;
	color: #334257;
}
.conc {
	background-color: #334257;
	border-radius: 12px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin-top: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #EEEEEE;
}





/*Galeria*/
.gl {
	font-weight: 400;
	text-align: center;
	padding: 20px 0;
	font-size: 40px;
}
hr {
	border-top: 1px solid black;
	margin: 0px 100px 0px 100px;
}
.galeria {
	margin-top: 10px;
}
.fts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	width: 95%;
	margin: auto;
	grid-gap: 10px;
	padding: 40px 0;
	overflow: hidden;
}
.fts img {
	width: 100%;
	vertical-align: top;
	height: 300px;
	object-fit: cover;
	transition: transform 0.5s;
}
.fts > a{
	display: block;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.fts a:hover img{
	filter: blur(2px );
	transform: rotate(10deg) scale(1.3);
}
.light-box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	transition: transform .3s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	background: rgba(0, 0, 0, 0.5)
}
.light-box img{
	width: 75vw;
	max-height: 90vh;
}
.light-box:target{
	transform: scale(1);
}
.close {
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	background: #851919;
	color: white;
	text-decoration: none;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}

.next {
	display: block;
	background: #851919;
	color: white;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
}
.iphone {
	color: white;
	position: absolute;
}
.midb {
	color: white;
	background: none;
	border: none;
	filter: blur(10px);
	width: 100%;
}
.midb:hover{
	background: rgba(0, 0, 0, .5);
	filter: blur(0px);
	font-size: 40px;
}




/*Noticias*/


.newscontainer {
	display: flex;
	align-items: center;
	background: yellow;
}


.social {
	align-items: center;
	
}

.sm {
	color: black;
	background: none;
	border: none;
	&:hover {
		color: grey;
	}
}
.news {
	background-size: cover;
	padding: 100px 40px;
	text-align: center;
	color: black;
}

.news p {
	max-width: 600px;
	margin: 40px auto;
	font-size: 15px;
	font-weight: 300;
}
.email {
	height: 40px;
	display: flex;
	justify-content: center;
}
.email i {
	background: #2f3542;
	width: 40px;
	line-height: 40px;
}

.tbox,.but {
	border: none;
	outline: none;
}

.tbox {
	width: 0px;
	transition: 0.6s;
}
.email:hover > .tbox,.tbox:focus{
	width: 260px;
	padding: 0 10px;
}
.but {
	background: #2f3542;
	color: white;
	padding: 0 10px;
	text-transform: uppercase;
	cursor: pointer;
}

  
  
  